body {
    font-family: 'Segoe UI';
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "d1 d1 d1 d1"
    "d2 d3 d3 d3"
    "d2 d3 d3 d3";
}

.d1 { grid-area: d1; }

.d2 { grid-area: d2; }

.d3 { grid-area: d3; }

